# Lazy is fine to be most up to date
lazy-lock.json
# macOS Specific app
raycast/
zed/
aerospace/
# Plugins for tmux, dont want submodules
tmux/plugins
#Misc
tags
test.sh
.luarc.json
spell/

#System Files
.DS_Store

